<!--
Programmer:     Jack Morris
Course:         ITSE-1306 (Intro to PHP)
Instructor:     Cesar "Coach" Marrero
Assignment:     Week9-Lab
Description:    HTML header file for Shoes R Us Web App
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome==1">
    <title>Shoes 'R Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/concise.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/masthead.css">
</head>
<body>

    <header container class="siteHeader">
        <div row>
            <h1 column=4 class="logo"><a href="index.php">Shoes 'R Us</a></h1>
            <nav column="8" class="nav">
                <ul>
                    <li><a href="black.php">Black</a></li>
                    <li><a href="white.php">White</a></li>
                    <li><a href="roll.php">Roll the Dice!</a></li>
                </ul>
            </nav>
        </div>
    </header>

        <main container class="siteContent">
        <!-- CHANGABLE CONTENT BELOW -->